.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 72px;



}
.sidebar-link{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 76px;

}
.sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebar-link img{

    height: 24px;

}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}